.typewriter{
    position: absolute;
    left: 2em;
    top:0.3em;

    background-image: linear-gradient(to left, rgb(0,0,0), rgb(255,215,0), rgb(255,250,205),rgb(0,0,0), rgb(47,79,79), rgb(206, 117, 117), hsl(39,100%,50%));
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}